extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-8 mui-col-md-offset-2 mui-panel")
      form.form(action="/add-issue" method="POST" autocomplete="off" class="mui-form form--primary")
        legend(id="form-legend") Add an issue
        div(class="mui-select")
          select(name="repo" required)
            each repo in orgRepos
              option(value=repo.name) #{repo.name} - #{repo.description}
          label(for="repo") Repo
        div(class="mui-textfield")
          label(for="title") Issue Title
          input(type="text" name="title" required)
        div(class="mui-textfield")
          label(for="description") Issue Description
          textarea(name="description" id="textarea--primary" required)
        input.button(type="submit" value="add" class="mui-btn mui-btn--raised btn--primary")