extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-8 mui-col-md-offset-2 mui-panel")
      p(class="mui--text-center") <a href="/reset-credentials">change your admin credentials</a>
      p(class="mui--text-center") <a href="/update-repos">update repos to choose from</a>.


