extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-6 mui-col-md-offset-3 mui-panel")
      form.form(action="/registerOrg" method="POST" class="mui-form form--primary")
        legend(id="form-legend") Admin of a Github Organization? Register the org name and add a <a href='https://github.com/settings/tokens'>personal access token</a>.
        div(class="mui-textfield")
          label(for="token") Personal Access Token
          input(type="text" name="token")
        div(class="mui-textfield")
          label(for="orgName") Organization Name
          input(type="text" name="orgName")
        input.button(type="submit" value="Register" class="mui-btn mui-btn--raised btn--primary")