extends layout

block content
  h1= title
    form.form(action="/registerOrg" method="POST" autocomplete="off")
      h2 Register
      label(for="token") Personal Access Token
      input(type="text" name="token")
      label(for="orgName") Organization Name
      input(type="text" name="orgName") 
      input.button(type="submit" value="Register")
