doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.41/css/mui.min.css')
    script(src='//cdn.muicss.com/mui-0.9.41/js/mui.min.js')

  body(class="mui-container-fluid")
    .mui-appbar
      nav(class="primary-nav")
        ul
          li <a href="/">Home</a>
          li <a href="/login">Login</a>
          li <a href="/settings">Settings</a>
    .mui-appbar
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p(class="mui--text-center alert-message")!= message
    block content
