doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.41/css/mui.min.css')
    script(src='//cdn.muicss.com/mui-0.9.41/js/mui.min.js')

  body(class="mui-container-fluid")
    block content
