doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.41/css/mui.min.css')
    script(src='//cdn.muicss.com/mui-0.9.41/js/mui.min.js')

  body(class="mui-container-fluid")
    div(class="mui-appbar")
      if flashMessage && flashMessage.length
        p(class="mui--text-center")!= flashMessage
      nav(class="primary-nav")
        ul
          if (!user)
            li <a href="/login">sign in</a>
          else
            li <a href="/home">Go To App</a>
    block content
