extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-8 mui-col-md-offset-2 mui-panel")
      div(class="mui--text-center")
        a(href="/login/github" class="mui-btn mui-btn--raised btn--primary") Please Log In with Github