extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-8 mui-col-md-offset-2 mui-panel")
      form.form(action="/login" method="POST" class="mui-form form--primary")
        legend(id="form-legend") Login
        div(class="mui-textfield")
          label(for="email") email
          input(type="email" name="email")
        div(class="mui-textfield")
          label(for="password") Password
          input(type="password" name="password")
        input.button(type="submit" value="Submit" class="mui-btn mui-btn--raised btn--primary")
