extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-8 mui-col-md-offset-2 mui-panel")
      div(class="form--primary")
        p(class="admin-link mui--text-center") <a href="/reset-credentials">remove your organization credentials</a>
        p(class="admin-link mui--text-center") <a href="/update-repos">update repos to choose from</a>
        p(class="admin-link mui--text-center") <a href="/logout">logout</a>
