extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-6 mui-col-md-offset-3 mui-panel")
      form.form(action="/updateAvailableRepos" method="POST" autocomplete="off" class="mui-form form--primary")
        legend(id="form-legend") Add repos you want to be available to create issues in
        each repo in orgRepos
          div(class="mui-checkbox styled-checkbox")
            input(type='checkbox' name='repos' value=repo.name class="checkbox--large")
            label(for='repos') #{repo.name} - #{repo.description}
        input.button(type="submit" value="add" class="mui-btn mui-btn--raised btn--primary")
      if flashMessage && flashMessage.length
        p!= flashMessage

