body.mui-container-fluid {
  padding: 0 0 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mui-appbar {
  margin-bottom: 5px;
  padding: auto 20px;
  line-height: 64px;
  font-size: 16px;
  background-color: #fff!important;
  color: inherit!important;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16), 0 0 1px 0 rgba(0,0,0,.12);
}

.mui-appbar + .mui-appbar {
  margin-bottom: 50px;
  box-shadow: none;
}

.alert-message {
  margin-bottom: 0;
}

.mui-appbar + .mui-row {
  margin: auto 15px;
}

.mui-appbar a,
.mui-appbar a:hover {
  text-decoration: none;
}

.mock-legend,
#form-legend {
  margin-bottom: 40px;
}

.form--primary {
  padding: 40px 20px;
}

@media (min-width: 640px) {
  .form--primary {
    padding: 60px 30px;
  }
}


input.button.btn--primary {
  margin-top: 20px;
}

.form--primary .mui-textfield > textarea {
  min-height: 180px;
  padding-top: 20px;
  resize: none;
}

input[type="radio"],
input[type="checkbox"] {
  font-size: 24px;
  margin: 0 0.2rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none!important;
}

input[type="radio"]::after,
input[type="checkbox"]::after {
  content: '⚫️';
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  content: '👍';
}

.primary-nav ul {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.primary-nav li {
  display: inline-block;
  margin: auto 10px;
}

.primary-nav li + li {
  text-align: right;
}

li {
  list-style: none;
}

.mock-legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 21px;
  color: rgba(0,0,0,.87);
  line-height: inherit;
  border: 0;
}

.admin-link {
  margin-bottom: 40px;
}

.admin-link:last-of-type {
  margin-bottom: 0;
}